<!-- addStore.ejs -->

<%- include('layout'); -%>

<section>
    <h2>Add Store</h2>

    <form action="/stores/add" method="post">
        <label for="location">Location:</label>
        <input type="text" id="location" name="location" required>

        <label for="mgrid">Manager ID:</label>
        <input type="text" id="mgrid" name="mgrid" required>

        <button type="submit">Add Store</button>
    </form>
</section>
