<% layout('layout') -%>

<section>
    <h2>Edit Store</h2>
    <!-- Form for editing store details will be added here -->
    <form action="/stores/edit/:sid" method="POST">
        <!-- Input fields and submit button -->
    </form>
</section>