<%- include('layout'); -%>


<section>
    <h2>Managers</h2>
    <ul>
        <% managers.forEach(manager => { %>
            <li>
                <strong>Manager ID:</strong> <%= manager._id %><br>
                <strong>Name:</strong> <%= manager.name %><br>
                <strong>Salary:</strong> <%= manager.salary %>
            </li>
        <% }); %>
    </ul>
</section>